body {
  background-color: #009688;
  text-align: left;
}

li {
  list-style-position: inside;
  text-transform: capitalize;
}

ul {
  text-align: left;
  padding: 0;
}

.countriesList {
  margin-left: 40px;
  margin-top: 25px;
  font-size: 32px;
}

.input {
  margin-left: 40px;
  text-align: left;
  padding: 10px;
  margin-top: 70px;
  width: 350px;
  height: 40px;
  border: 3px solid #ff8c00;
}

.pnotify {
  margin-top: 80px;
  top: 500px; /*Replace the 25px with the top that you need*/
  right: 25px;
  position: absolute;
}

h2 {
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  margin-left: 230px;
  margin-bottom: 50px;
}

span {
  font-weight: 600;
  margin-right: 10px;
}

.card {
  font-size: 36px;
  line-height: 1.167;
}

.description-list {
  list-style: none;
}

.card-item {
  margin-bottom: 40px;
}

.lang-list {
  list-style: disc;
}

.lang-item {
  margin-top: 25px;
  font-size: 32px;
}

.country {
  margin-left: 50px;
}

img {
  margin-left: 45px;
}
.card {
  display: flex;
  align-items: center;
}
