<div class="container">
  <input
    type="input"
    placeholder="Введите название страны"
    autocomplete="off"
    id="input"
    class="input"
  />
  <div class="countries"></div>
</div>

<!-- <div class="country">
  <h2>Shwitzerland</h2>
  <div class="card">
    <div class="card-description">
      <ul class="description-list">
        <li class="card-item"><span>Capital:</span>Bern</li>
        <li class="card-item"><span>Population:</span>8341600</li>
        <li class="card-item">
          <ul class="lang-list">
            <span>Languages:</span>
            <li class="lang-item">German</li>
            <li class="lang-item">French</li>
            <li class="lang-item">Italian</li>
          </ul>
        </li>
      </ul>
    </div>

    <img src="" alt="flag" width="420" height="420" />
  </div>
</div> -->
